<h1>Welcome to Cart List</h1>
<div>

<h1>Cart Details</h1>
<ul>
{{#each cart}}
  {{#each products}}
    <li>
      Quantity: {{this.quantity}}
      </li>
  {{/each}}
</ul>

{{#each products}}
  <h2>Product {{@index }}</h2>
  <ul>
    <li>Product ID: {{_id}}</li>
    </ul>
{{/each}}
{{/each}}

</div>
