<chat>
   <h1>Bienvendo al chat</h1>
   <ul id="messages-list">
      {{#each messages}}
      {{#each this}}
              <li>{{user}} escribio: {{message}}</li> 
      {{/each}}
        {{/each}}
   </ul>
   <script src="/js/chat.js"></script>
</chat>

{{!-- {{. El formato es:  {user:correoDelUsuario, 
message: mensaje del usuario}}}} --}}