<chat>
   <h1>Bienvendo al chat</h1>
   <ul id="messages-list">
      {{#each messages}}
          <li>
      <strong>Usuario:</strong> {{user}}<br>
      <strong>Mensaje:</strong> {{message}}
    </li>
        {{/each}}
   </ul>
</chat>

{{!-- {{. El formato es:  {user:correoDelUsuario, 
message: mensaje del usuario}}}} --}}