
<realTimeProducts>
<h1>Product Manager</h1>

<div id="add-product-form">
    <form action="/realtimeproducts" id="add-product-form-data" method="post">
         <input type="text" id="product-code" placeholder="Codigo del producto" name="code">
        <input type="text" id="product-title" placeholder="Nombre del producto" name="title">
        <input type="text" id="product-description" placeholder="Descripción del producto" name="description">
        <input type="number" id="product-price" placeholder="Precio del producto" name="price">
        <input type="number" id="product-stock" placeholder="Stock del producto" name="stock">
        <button id="add-product-btn" type="submit">Agregar producto</button>
    </form>
</div>

<ul id="products-list">Lista de productos</ul>
 
<script src="/socket.io/socket.io.js"></script>
 </realTimeProducts>